---
import Layout from "../layouts/Layout.astro";
import Image from "../components/Image.astro";
import img from "../images/formaal.jpg";
---

<Layout>
  <Image
    src={img}
    caption="Helt fra museets åbning i 1958 lagde Knud W. Jensen vægt på, at Louisiana skulle kunne rumme mange ”oplevelsesmuligheder” for på den måde at leve op til sin idé som et ”musisk mødested” og samtidsengageret miljø."
  />

  <h1>Formål</h1>

  <p>
    Fondens formål er at drive almennyttig kulturel virksomhed og at støtte
    sådan virksomhed, herunder:
  </p>

  <ul class="list-disc pl-5">
    <li>
      At købe dansk og udenlandsk kunst, skabt indenfor de sidste 100 år før
      købet.
    </li>
    <li>
      At skænke de indkøbte kunstværdier til <a href="https://louisiana.dk"
        >Louisiana Museum of Modern Art</a
      > eller deponere dem der eller i andre institutioner, der viser interesse for
      moderne kunst, herunder skoler.
    </li>
    <li>
      At yde kontante lån eller gaver til <a href="https://louisiana.dk"
        >Louisiana Museum of Modern Art</a
      > til køb af kunst eller udvidelse af bygningerne.
    </li>
  </ul>

  <p>
    Det påhviler bestyrelsen at vedligeholde og om muligt højne kunstsamlingens
    kvalitet. I det omfang samlingen ikke er skænket til <a
      href="https://louisiana.dk">Louisiana Museum of Modern Art</a
    >, er Museumsfondens bestyrelse berettiget til at afhænde kunstværker. Den
    derved frigjorte kapital kan kun anvendes til indkøb af andre kunstværker
    eller anbringes med henblik på senere anvendelse dertil.
  </p>
</Layout>
