---
import Layout from "../layouts/Layout.astro";
import Image from "../components/Image.astro";
import img from "../images/forside.jpg";
---

<Layout>
  <Image
    src={img}
    caption="Louisianas grundlægger Knud W. Jensen ses her i 1973 – samme år som han stiftede Louisiana-Fonden – i forbindelse med udstillingen ’Ekstrem Realisme’. Foto: Schnakenburg Reklamefotografi."
  />

  <h1>LOUISIANA-FONDEN</h1>

  <p>
    Louisiana-Fonden er oprindeligt stiftet af Louisianas grundlægger, Knud W.
    Jensen, som en selvejende institution den 28. september 1973.
  </p>

  <p>
    Formålet med fonden er at yde økonomisk støtte til den selvejende
    institution <a href="https://louisiana.dk">Louisiana Museum of Modern Art</a
    >. Denne støtte er fortrinsvis tiltænkt kunstkøb, men kan desuden ydes i
    form af driftstilskud eller nyopførelse af bygninger mm.
  </p>
</Layout>
