---
import Layout from "../layouts/Layout.astro";
import Image from "../components/Image.astro";
import img from "../images/forside.jpg";
---

<Layout>
  <Image
    src={img}
    caption="Louisianas grundlægger, Knud W. Jensen (1916-2000) satte handling bag mange af tidens visionære tanker om moderne museumsdrift, deriblandt et ønske om at kunst skal have et bredt publikum. Her ses han forrest t.h. ved opførelsen af Jean Tinguelys ’Skitse til verdens undergang’ i museets park i 1961. (Foto: Jørn Freddie)"
  />

  <h1>Museums&shy;fonden af 7. december 1966</h1>

  <p>
    Museumsfonden af 7. december 1966 er en erhvervsdrivende fond, hvis midler
    stammer fra ejerskabet af Gyldendal A/S samt afkast af fondens
    værdipapirportefølje.
  </p>

  <p>
    Formålet med fonden er at drive almennyttig kulturel virksomhed og at støtte
    sådan virksomhed, herunder at købe dansk og udenlandsk kunst, skabt indenfor
    de sidste 100 år før købet og skænke det til Louisiana Museum of Modern Art.
  </p>

  <p>
    Museumsfonden er stiftet 7. december 1966 og kongelig konfirmeret den 5.
    februar 1974.
  </p>
</Layout>
