---
import Layout from "../layouts/Layout.astro";
import Image from "../components/Image.astro";
import img from "../images/vedtaegter.jpg";
---

<Layout>
  <Image
    src={img}
    caption="Tre Alexander Calder-skulpturer sætter et ikonisk præg på og har givet navn til Louisianas Calder-terrasse. To af disse skulpturer – herunder ’Almost Snow Plow’ fra 1964/1976 – er deponeringer fra Museumsfonden. Foto: Kim Hansen."
  />

  <h1>Vedtægter</h1>

  <p>
    Vedtægterne for Museumsfonden af 7. december 1966 blev konfirmeret 5.
    Februar 1974 og senest ændret 10. december 2003.
  </p>
  <div class="statutes">
    <div class="pdf-file"></div>

    <a href="/pdf/Vedtægter_Museumsfonden.pdf">
      Vedtægter for Museums&shy;fonden
    </a>
  </div>
</Layout>
